.container{
  display: inline-flex;
  flex: 1 1 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
